:local(.formWrap) {
    align-self: center;
    margin-bottom: 20px;
    width: 100%;
    max-width: 580px;
}

:local(.form) {
    text-align: center;
}

:local(.form) button {
    display: inline;
}

:local(.formLabel) {
    margin-right: 10px;
}

:local(.formInput) {
    margin-right: 20px;
}

:local(.formInput.invalid) {
    border-color: red;
    background-color: salmon;
}

@media (max-width: 600px) {
    :local(.form) {
        display: flex;
        flex-direction: column;
    }

    :local(.form) button {
        margin-top: 20px;
    }

    :local(.formWrap) {
        max-width: 400px;
    }

    :local(.formInput) {
        margin-right: 0;
    }
}
