:local(.list) {
    margin: 0;
    padding: 0;
    list-style: none;
}

:local(.listController) {
    margin-bottom: 10px;
}

:local(.listChanger) {
    margin-bottom: 10px;
    text-align: right;
}

:local(.listAddBtn) {
    margin-right: 10px;
    background-color: green;
    border-color: green;
}

:local(.listAddBtn):hover {
    background-color: #066406;
    border-color: #066406;
}

:local(.sortBtn) {
    padding: 4px 7px;
    background-color: #e39229;
    border-color: #e39229;
}

:local(.sortBtn):hover {
    background-color: #b37115;
    border-color: #b37115;
}

:local(.listSwitcher) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

:local(.listSwitcher) button {
    flex-grow: 1;
}

:local(.listSwitcher) button:not(:last-child) {
    margin-right: 10px;
}


:local(.listItem) {
    padding: 4px 8px;
    border: 1px solid lightgrey;
}

:local(.listWrap) {
    width: 100%;
    max-width: 800px;
}

:local(.listItem):not(:last-child) {
    margin-bottom: 10px;
}
